body
{
    background-color: antiquewhite;
    color: #2b2929;
}
.head
{
    font-size: x-large;
    align-items: center;
    position: absolute;
    font-weight: 700;
    text-decoration: solid;
}
p{
    padding-top: 15px;
}
#main_pgbtn
{
    width: 100%;
    height: 50px;
    background-color: #249170;
    cursor: pointer;
}
.date
{
    position: absolute;
    top: 1%;
    left: 87%;
}
img
{
    position: absolute;
    top: 0%;
    left: 0%;
}